{{/*

This needs to explain that the URL was not found. but go on to suggest that

what the user is looking for may be in the Wiki. This message should be
accompanied with a hyperlink to the same URL prefixed with /wiki/ - We no
longer want automatic forwarding to the wiki.

*/}}
{{ define "main" }}
<section id="404" style="background:#FFF; padding-top:50px; padding-bottom:50px;">
<div class="container">
	<div class="row">
		<div class="col-md-12">	
			<h1 class="super-heading">404 Page not found <i class="fa fa-thumbs-down"></i></h1>
			<p>We couldn't find the page you requested.</p>

			<p>
                          <a href="https://nav.uninett.no/wiki/">Maybe you were looking for a wiki page?</a>
			</p>
		</div>
	</div>
</div>
</section>
{{ end }}
