{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section id="releases">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="super-heading">NAV release archive</h1>
				<p>Browse through downloads for all available releases. You can also look at their respective <a href="{% url 'releases_docs' %}">documentation</a>.</p>
			</div>
		</div>
		<div class="row" id="ovf">
			<div class="col-md-6">
				<h3 class="page-header">Source</h3>
				{% if series_stable %}
					<div class="release-list">
						<h4>Stable releases</h4>
						<ul>
							{% for series, release_list in series_stable.items %}
								<p><em>Series {{ series }}</em></p>
								{% for release in release_list %}
									<li class="series-indent">
										<a href="{{ release.source_url }}">
											<i class="fa fa-download"></i> <strong>{{ release.version }}</strong>, {{ release.release_date }}
										</a>
									</li>
								{% endfor %}
							{% endfor %}
							{% for release in stable_releases %}
								<li>
									<a href="{{ release.source_url }}">
										<i class="fa fa-download"></i> <strong>{{ release.version }}</strong>, {{ release.release_date }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% else %}
					<p>No stable releases found.</p>
				{% endif %}
				{% if beta_releases %}
					<div class="release-list">
					<h4>Beta releases</h4>
						<ul>
							{% for release in beta_releases %}
								<li>
									<a href="{{ release.source_url }}">
										<i class="fa fa-download"></i> <strong>{{ release.version }}</strong>, {{ release.release_date }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
			<div class="col-md-6">
				<h3 class="page-header">Virtual Appliance <a href="/install-instructions/#ovf">(Instructions)</a></h3>
				{% if latest_ovf_release %}
					<div class="release-list">
						<h4>Stable release</h4>
						<ul>
							<li>
								<a href="{% static "appliance/stable/navappliance.tar.gz" %}">
									<i class="fa fa-download"></i> <strong>{{ latest_ovf_release.version }}</strong>, {{ latest_ovf_release.release_date }}
								</a>
							</li>
						</ul>
					</div>
				{% else %}
					<p>No stable release found.</p>
				{% endif %}
				{% if beta_ovf %}
					<div class="release-list">
						<h4>Beta releases</h4>
						<ul>
							{% for release in beta_ovf %}
								<li>
									<a href="{{ release.beta_ovf_url }}">
										<i class="fa fa-download"></i> <strong>{{ release.version }}</strong>, {{ release.release_date }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
