<nav class="nav-wrapper navbar-inverse navbar navbar-fixed-top" role="navigation">
    <div class="container menu">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ .Site.BaseURL }}" title="Go to site front page"><img src="/image/nav-logo.svg" width="100" alt="[NAV logo]" /></a>
        </div>

        <div class="navbar-right navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="jump-link" data-section="download" href="/#download">Download</a></li>
                    <li><a class="jump-link" data-section="tour" href="/#tour">Tour</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="https://nav.readthedocs.io/">Documentation</a></li>
                </ul>
        </div>
    </div>
</nav>
