<script>
    $(function() {


        // Jump link configuration
        var TOP_OFFSET_ADJUST = 100;

        var hash = window.location.hash;
        if(hash) {
            $('html, body').animate({scrollTop: $(hash).offset().top - TOP_OFFSET_ADJUST}, 250, function () {
                window.location.hash = hash;
            });
        }

        $('.jump-link').on('click', function (event) {
            var section = '#' + $(this).data('section');
            $('html, body').animate({scrollTop: $(section).offset().top - TOP_OFFSET_ADJUST}, 250, function () {
                window.location.hash = section;
            });
        });

        // Fluid video
        var $allVideos = $("iframe[src^='https://player.vimeo.com'], iframe[src^='https://www.youtube.com'], object, embed"),
        $fluidEl = $("figure");

        $allVideos.each(function() {

          $(this)
            // jQuery .data does not work on object/embed elements
            .attr('data-aspectRatio', this.height / this.width)
            .removeAttr('height')
            .removeAttr('width');

        });

        $(window).resize(function() {

          var newWidth = $fluidEl.width();
          $allVideos.each(function() {

            var $el = $(this);
            $el
                .width(newWidth)
                .height(newWidth * $el.attr('data-aspectRatio'));
          });
        }).resize();
    });

    $(function convertAllBlogpostsH1ToH2() {
        const h1Headers = document.querySelectorAll('header h1');
        console.log('h1 headers', h1Headers);

        for (let i = 0; i < h1Headers.length; i++) {
            // Add Bootstrap's h1 styling
            h1Headers[i].classList.add('h1');

            h1Headers[i].outerHTML = h1Headers[i].outerHTML.replace('h1', 'h2');
        }
    });


    $(function convertAllBlogpostHeadersToH3() {
        const h2BlogpostHeaders = document.querySelectorAll('.blogpost > h2');
        console.log('h2 headers', h2BlogpostHeaders);
        for (let i = 0; i < h2BlogpostHeaders.length; i++) {
            // Add Bootstrap's h2 styling
            h2BlogpostHeaders[i].classList.add('h2');

            h2BlogpostHeaders[i].outerHTML = h2BlogpostHeaders[i].outerHTML.replace('h2', 'h3');
        }

        const h4BlogpostHeaders = document.querySelectorAll('.blogpost > h4');
        console.log('h4 headers', h4BlogpostHeaders);
        for (let i = 0; i < h4BlogpostHeaders.length; i++) {
            // Add Bootstrap's h4 styling
            h4BlogpostHeaders[i].classList.add('h4');

            h4BlogpostHeaders[i].outerHTML = h4BlogpostHeaders[i].outerHTML.replace('h4', 'h3');
        }
    });

    $(function convertSingleBlogpostH1ToH2() {
        const h1Header = document.querySelector('header h1');

        // Add Bootstrap's h1 styling
        h1Header.classList.add('h1');

        h1Header.outerHTML = h1Header.outerHTML.replace('h1', 'h2');
    });

</script>
