    <div class="row">
      <article class="col-md-12 blogpost">
        <header>
          <a href="{{ .Permalink }}"><h2 id="{{ .File.TranslationBaseName }}">{{ .Title }}</h2></a>
          <aside class="pubdate">
            <p>Posted on {{ .PublishDate.Format "Jan 2, 2006" }}</p>
          </aside>
        </header>

        {{ .Content }}

          {{ if .Params.Tags }}
          <aside class="tags">
              <p>Tags <i class="fa fa-tag"></i></p>
              <ul>
                  {{ range .Params.Tags }}
                  <li>{{ . }}</li>
                  {{ end }}
              </ul>
          </aside>

          {{ end }}

      </article>
    </div>
